# Snippets for edk2 uni strings

priority -40

snippet 'uni' "define for unicode multi language strings"
#define ${1}                                #language en-US "${2}"
                                            #language ru-RU "${3}"
endsnippet
